body{
	background-image: url("img/fond.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1{
	color: #17202A ;
}
h2{
	color: #F1C40F;
}
.pr{
	color: red;
}
#subt2{
	color: red;
}
img{
	width: 400px;
	height: 250px; 
}
.nav{
	color: red;
}
footer{
	background-color: #839192; 
	font-size: 12px;
}
}